<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="refresh" content="12000">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<!-- <script src="../../public/js/jquery-3.3.1.js"></script> -->


	<!-- </script> -->

	<script type="text/javascript">
	var counter = 0;






</script>

		<style>
		#container{width:270px; heigth: 90px; border: 1px solid #000;
				background-color: #000; overflow: hidden; border-radius: 2px; color: #fefdfb;}
				.BID{
					font-size: 20px;
					color : {{color}};
				}

				table, td, tr{
					border: 1px solid #94D600;
				}
				table td {
    			width: 60px;
    			overflow: hidden;
    			/* display: inline-block; */
    			white-space: nowrap;
				}
				table{
					overflow: hidden;

				}

		</style>
		<title>{{ric}} CHART</title>
</head>
<body>

  <div>
    .<img src="{{chart}}" alt="">

  </div>




</body>
</html>
