.ticker1{
  /* background-color: #242424; */
  color: #fff;
  /* width: 100px; */

}
.bidTable{

  border-radius: 3px;
  border-color: #060606;
  text-align: center;

}

.bidTable tr:nth-child(even) {background: #242424}
.bidTable tr:nth-child(odd) {background: #1F1F1F}

.bidHolder{
  display: grid;
  width: 100px;

  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2px;
}

.bidSpace1{
  grid-column: 1;

}
.bidSpace2{
  grid-column: 2;

}
.bidSpace3{
  grid-column: 3;

}

.ticker_image{
  width: 10px;
  height: 10px;
}

.askHolder{
    width: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2px;
}

.askSpace1{
  grid-column: 1;

}
.askSpace2{
  grid-column: 2;

}
.askSpace3{
  grid-column: 3;

}

#bid_main{

  height: 70px;


}
#ask_main{
  height: 70px;


}
